# Build and Binaries
build/
*.elf
*.bin
*.hex
*.map
*.o
*.obj
*.d

# Clangd and Language Server Caches
.cache/
compile_commands.json

# CMake and Tools
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json
.ninja_deps
.ninja_log

# IDE Specific
.settings/
.project
.cproject
.mxproject
.vscode/
.idea/
*.launch
*.orig
*~
